.settings {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  z-index: 10;
  background-color: var(--opaque-primary);
  backdrop-filter: blur(2px) saturate(180%);

  & .container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 10%;
    background-color: var(--secondary);

    & .close {
      position: absolute;
      top: 3rem;
      right: 4rem;
      font-size: 3rem;
      color: var(--on-primary);

      &:hover {
        cursor: pointer;
        color: var(--on-secondary);
      }
    }

    & .btn-group {
      margin: 1rem auto 0.5rem;
      & .btn {
        text-decoration: none;
        padding: 1rem 2rem;
        margin: 0.2rem 0.5rem;
        border-radius: 15rem;
        background-color: var(--on-primary);
        color: var(--primary);
        transition: 0.3s ease;
        &:hover {
          cursor: pointer;
          background-color: var(--on-secondary);
        }
      }
    }
    & .user-info {
      & .avatar-control {
        & .avatar {
          display: inline-block;
          width: 8rem;
          height: 8rem;
          padding: 0.5rem;
          border: 2px solid var(--on-primary);
          border-radius: 50%;
          overflow: hidden;
          & img {
            width: 100%;
            object-fit: cover;
          }
        }
      }

      & form:not(:last-child) {
        border-bottom: 1px solid var(--on-primary);
        padding-bottom: 1rem;
      }

      & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .form-title {
          color: var(--on-primary);
          margin: 1rem auto 0.5rem;
          text-decoration: underline;
          font-size: 2.4rem;
        }
        & .control-container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          & .form-control {
            margin: 0.5rem;
            display: flex;
            flex-direction: column;

            & label {
              font-size: 2rem;
              margin-left: 1rem;
              color: var(--on-primary);
            }
            & input {
              height: 3rem;
              width: 20rem;
              padding: 1rem;
              font-size: 1.8rem;
              border-radius: 1.5rem;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }

    & .app-settings {
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .bg-container {
        position: relative;
        height: 25rem;
        border-radius: 3rem;
        overflow: hidden;
        & img {
          height: 100%;
          object-fit: cover;
        }
        & .img-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          height: 100%;
          width: 3rem;
          font-size: 3rem;
          background-color: var(--opaque-primary);
          color: var(--on-primary);
          backdrop-filter: saturate(180%);
          transition: 0.3s ease;
          &:hover {
            background-color: var(--opaque-secondary);
            color: var(--on-secondary);
            cursor: pointer;
          }

          &.left {
            top: 0;
            left: 0;
          }
          &.right {
            top: 0;
            right: 0;
          }
        }
        & .set-btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0.5rem 2rem;
          border-radius: 20%;
          font-size: 4rem;
          background-color: #dddddd58;
          color: #2e2e2e;
          backdrop-filter: blur(2px) saturate(180%);
          transition: 0.3s ease;
          &:hover {
            background-color: #2e2e2e58;
            color: #ddd;
            cursor: pointer;
          }
          &:active::after , &:active{
               content: 'Set';
               color: mediumspringgreen;
          }
        }
        & .select-bg {
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 100%;
          height: 3rem;
          padding-inline: 5rem;
          transform: translateX(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.3s ease;

          & select {
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: var(--opaque-primary);
            color: var(--on-primary);
            border: none;
            &:focus {
              outline: none;
            }
            &:hover {
              background-color: var(--opaque-secondary);
              color: var(--on-secondary);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
