<section class="user">
  <app-user-nav></app-user-nav>
  <div class="user-container">
    <header class="user-info">
      <span class="avatar"
        ><img
          [src]="user()?.avatar ?? '/avatar/01.png'"
          alt="{{ user()?.username }}"
      /></span>
      <h2 class="user-name">
        {{ user()?.username?.toUpperCase() ?? "ANUP456456" }}
      </h2>
    </header>

    <main class="chats-container">
      <article class="chat-overview" (click)="openChat('anupnaik12Id')">
        <!-- <a class="chat-link" [routerLink]="['/chat','lolol']"></a> -->
        <span class="avatar"><img src="/avatar.png" alt="UserAvatar" /></span>
        <div class="text-container">
          <h2 class="chat-name">AnupNaik12</h2>
          <p class="user-mail">anupnaik1234&#64;gmail.com</p>
        </div>
      </article>
      <article class="chat-overview">
        <span class="avatar"><img src="/rocket.svg" alt="UserAvatar" /></span>
        <div class="text-container">
          <h2 class="chat-name">TS Devs</h2>
          <p class="user-mail">tsdevs1234&#64;yahoo.com</p>
        </div>
      </article>
      <article class="chat-overview">
        <span class="avatar"><img src="/avatar.png" alt="UserAvatar" /></span>
        <div class="text-container">
          <h2 class="chat-name">AnupNaik12</h2>
          <p class="user-mail">anupnaik1234&#64;gmail.com</p>
        </div>
      </article>
      <article class="chat-overview">
        <span class="avatar"><img src="/avatar.png" alt="UserAvatar" /></span>
        <div class="text-container">
          <h2 class="chat-name">AnupNaik12</h2>
          <p class="user-mail">anupnaik1234&#64;gmail.com</p>
        </div>
      </article>
      <article class="chat-overview">
        <span class="avatar"><img src="/rocket.svg" alt="UserAvatar" /></span>
        <div class="text-container">
          <h2 class="chat-name">TS Devs</h2>
          <p class="user-mail">tsdevs1234&#64;yahoo.com</p>
        </div>
      </article>
      <article class="chat-overview">
        <span class="avatar"><img src="/avatar.png" alt="UserAvatar" /></span>
        <div class="text-container">
          <h2 class="chat-name">AnupNaik12</h2>
          <p class="user-mail">anupnaik1234&#64;gmail.com</p>
        </div>
      </article>
      <article class="chat-overview">
        <span class="avatar"><img src="/rocket.svg" alt="UserAvatar" /></span>
        <div class="text-container">
          <h2 class="chat-name">TS Devs</h2>
          <p class="user-mail">tsdevs1234&#64;yahoo.com</p>
        </div>
      </article>
      <article class="chat-overview">
        <span class="avatar"><img src="/avatar.png" alt="UserAvatar" /></span>
        <div class="text-container">
          <h2 class="chat-name">AnupNaik12</h2>
          <p class="user-mail">anupnaik1234&#64;gmail.com</p>
        </div>
      </article>
      <article class="chat-overview">
        <span class="avatar"><img src="/rocket.svg" alt="UserAvatar" /></span>
        <div class="text-container">
          <h2 class="chat-name">TS Devs</h2>
          <p class="user-mail">tsdevs1234&#64;yahoo.com</p>
        </div>
      </article>
      <article class="chat-overview">
        <span class="avatar"><img src="/avatar.png" alt="UserAvatar" /></span>
        <div class="text-container">
          <h2 class="chat-name">AnupNaik12</h2>
          <p class="user-mail">anupnaik1234&#64;gmail.com</p>
        </div>
      </article>
    </main>
  </div>
</section>
