:host {
  height: 100%;
  width: 100%;
}
.user {
  height: inherit;
  display: flex;

  & .user-container {
    position: relative;
    height: inherit;
    display: flex;
    flex-direction: column;
    background-color: var(--overlay-background);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: overlay;

    & .user-info {
      height: min-content;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 1px;
      padding: 5px;
      opacity: 0.7;
      border-radius: 0% 0% 15% 15%;
      background: linear-gradient(var(--windy-start), var(--windy-end)),
        var(--overlay-background);
      background-blend-mode: overlay;

      & .avatar {
        display: inline-block;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        overflow: hidden;

        & img {
          border-radius: 50%;
          height: 100%;
          object-fit: cover;
        }
      }

      & .user-name {
        margin-inline: 15px;
        letter-spacing: 2px;
        font-size: 3rem;
        background: linear-gradient(45deg, #d95b52, #eaf4cd 50%, #57a4c7 100%);
        background-clip: text;
        color: transparent;
      }
    }

    & .chats-container {
      height: inherit;
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-start;
      overflow-y: auto;
      border: 5px solid transparent;

      @supports (scrollbar-width: auto) {
        & {
          scrollbar-color: var(--scrollbar-color-thumb)
            var(--scrollbar-color-track);
          scrollbar-width: thin;
          scroll-behavior: smooth;
        }
      }

      & .chat-overview {
        height: 90px;
        width: 300px;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--opaque-secondary);
        color: var(--on-primary);
        margin: 5px;
        transition: 0.3s linear;

        &:hover {
          background-color: var(--light-color);
          color: var(--secondary);
          opacity: 0.8;

          & .avatar {
            transform: scale(1.1);
          }
        }

        & .avatar {
          display: inline-block;
          width: 60px;
          height: 60px;
          margin-right: 20px;
          border: 1px solid var(--windy-end);
          border-radius: 50%;
          transition: 0.3s linear;

          & img {
            padding: 5px;
            height: 100%;
            border-radius: 50%;
          }
        }

        & .text-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;

          & .chat-name {
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}
