main{
 overflow: hidden;
}

footer {
  background-color: var(--primary);
  color: var(--on-primary);
  padding: 15px 0;
  // bottom: 0;
  // left: 0;
  // position: sticky;
  z-index: 10;
  text-align: center;
  letter-spacing: 1px;
  font-size: 2rem;
}