.login {
  height: var(--main-height);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .container {
    width: min(calc(100% - 10%), 400px);
    padding: 75px 55px 55px 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary);

    & .login-form {
      position: relative;

      & .form-control {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        font-size: 1.8rem;

        & label {
          color: var(--on-primary);
          padding: 0 10px;
          font-size: inherit;
          transform: translateY(2rem);
          transition-duration: 0.5s;

          &:has(+ input:focus),
          &:has(+ input:user-valid),
          &:has(+ input:user-invalid) {
            color: var(--on-secondary);
            transform: translateY(0rem);
          }
        }

        & input  {
          padding: 5px 20px;
          width: 25rem;
          font-size: 1.6rem;
          border-radius: 10px;
          border: none;
          background-color: transparent;
          color: var(--on-secondary);
          border-bottom: 3px solid var(--on-primary);
          transition-duration: 1s;

          &:focus,
          &:valid {
            outline: none;
            border-bottom: 3px solid var(--on-secondary);
          }
          
          &:invalid {
            border-bottom: 5px groove salmon;
          }
        }
      }

      & button {
        position: absolute;
        bottom: -238px;
        right: -200px;
        padding: 150px;
        clip-path: polygon(
          50% 10%,
          38% 40%,
          60% 54%,
          28% 48%,
          0% 38%,
          20% 33%,
          35% 26%,
          40% 22%,
          45% 17%
        );
        background: linear-gradient(
          to left top,
          var(--lawrencium-mid),
          var(--windy-end),
          var(--windy-start)
        );
        background-blend-mode: color;
        border: none;
        transition: 0.2s;

        &:hover {
          background-color: var(--on-secondary);
          cursor: pointer;
        }

        &:active {
          transform: translate(1px, 2px);
        }
      }
    }
  }
}
