.signup {
  height: var(--main-height);
  background: url("/chat.svg") no-repeat center center/cover;
  background-color: var(--background);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .container {
    width: min(calc(100% - 10%), 400px);
    padding: 50px 75px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--opaque-secondary);
    & .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      & .form-label {
        color: var(--on-primary);
        letter-spacing: 2px;
        font-weight: 500;
        &:has(+ .form-control:focus) {
          color: var(--on-secondary);
        }
        &:has(+ .form-control:user-valid) {
          color: var(--success);
        }
        &:has(+ .form-control:is(:user-invalid,:autofill)) {
          color: var(--error);
        }
      }
      & .form-control {
        padding: 5px;
        width: 25rem;
        font-size: 1.6rem;
        border: none;
        background-color: var(--on-secondary);
        border-radius: 5px;
        margin-top: 5px;
        &:focus {
          outline: none;
        }
        &:user-invalid {
          border-bottom: 5px solid salmon;
        }
      }
    }
    & .btn-group {
      display: flex;
      margin-top: 30px;
      justify-content: space-evenly;
      & button {
        padding: 7px 15px;
        background-color: var(--primary);
        border-radius: 5px;
        color: var(--on-secondary);
        font-size: inherit;
        border: none;
        transition: 0.2s;
        &:hover {
          background-color: var(--on-secondary);
          color: var(--secondary);
          cursor: pointer;
          &:disabled {
            background-color: var(--secondary);
            color: var(--error);
          }
        }
        &:disabled {
          cursor: not-allowed;
        }
        &:active:not(:disabled) {
          transform: translate(1px, 2px);
        }
      }
    }
  }
}
