* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --unused-area: #333;
  --background: #0d1b2a;
  --primary: #1b263b;
  --on-primary: #778da9;
  --secondary: #415a77;
  --on-secondary: #e0e1dd;
  --max-width:900px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--unused-area);
  font-size: 1.6rem;
  height: 100vh;
  width: var(--max-width);
  margin: 0 auto;
  border-left: 5px solid var(--primary);
  border-right: 5px solid var(--primary);
  // overflow: hidden;
}
