* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-logo-start: #01d9ff;
  --brand-logo-end: #f026f0;
  --background: #0d1b2a;
  --overlay-background: #0d1b2ae4;
  --primary: #1b263b;
  --opaque-primary: #1b263bd8;
  --on-primary: #94b4dd;
  --secondary: #334962;
  --opaque-secondary: #334962f3;
  --on-secondary: #e0e1dd;
  --light-color: #caccc4df;
  --windy-start: #acb6e5;
  --windy-end: #86fde8;
  --lawrencium-start: #0f0c29;
  --lawrencium-mid: #302b63;
  --lawrencium-end: #24243e;
  --scrollbar-color-thumb: steelblue;
  --scrollbar-color-track: rgb(52, 30, 52);
  --max-width: 900px;
  --main-height: calc(100vh - 105px);
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    to right,
    var(--lawrencium-start),
    var(--lawrencium-mid),
    var(--lawrencium-end)
  );
  font-size: 1.6rem;
  max-height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
  border-left: 10px solid var(--primary);
  border-right: 10px solid var(--primary);
  box-shadow: var(--lawrencium-start) 2px 15px 20px 5px;
  overflow: hidden;
  border-radius: 15px;
  user-select: none;
}
