<section class="chat">
  <header class="header">
    <span class="back-btn">&leftarrow;</span>
    <span class="info">
      <span class="chat-name">AnupNaik12</span>
      <span class="avatar"><img src="/avatar.png" alt="avatar" /></span>
    </span>
  </header>
  <main class="messages">
    <article class="msg-container left">
      <p class="msg">Hi!! This is Anup. Nice to meet you.</p>
      <p class="msg-info">
        <span class="sender">AnupNaik12</span>
        <span class="msg-time">21/07/24 - 17:45</span>
      </p>
    </article>
    <article class="msg-container right">
      <p class="msg">Hi!! This is Anup. Nice to meet you.</p>
      <p class="msg-info">
        <span class="sender">AnupNaik12</span>
        <span class="msg-time">21/07/24 - 17:45</span>
      </p>
    </article>
    <article class="msg-container right">
      <p class="msg">Hi!! This is Anup. Nice to meet you.</p>
      <p class="msg-info">
        <span class="sender">AnupNaik12</span>
        <span class="msg-time">21/07/24 - 17:45</span>
      </p>
    </article>
    <article class="msg-container left">
      <p class="msg">Hi!! This is Anup.        text-align: right;
        text-align: right;
        text-align: right;
        text-align: right;
        text-align: right;
        text-align: right;
        text-align: right;
        text-align: right;
        text-align: right;
        Nice to meet you.</p>
      <p class="msg-info">
        <span class="sender">AnupNaik12</span>
        <span class="msg-time">21/07/24 - 17:45</span>
      </p>
    </article>
    <article class="msg-container left">
      <p class="msg">Hi!! This is Anup. Nice to meet you.</p>
      <p class="msg-info">
        <span class="sender">AnupNaik12</span>
        <span class="msg-time">21/07/24 - 17:45</span>
      </p>
    </article>
  </main>
  <footer class="message-actions">
    <p class="message" contenteditable="true">Type Your Message Here</p>
    <span class="send"><img src="/rocket.svg" alt="send message" /></span>
  </footer>
</section>
