<section class="chat">
  <header class="header">
    <span class="back-btn">&leftarrow;</span>
    <span class="info">
      <span class="avatar"><img src="/rocket.svg" alt="avatar" /></span>
      <span class="chat-name">AnupNaik12</span>
    </span>
  </header>
  <main class="messages"></main>
  <footer class="message-actions">
    <p class="message" contenteditable="true">Type Your Message Here</p>
    <span class="send"><img src="/rocket.svg" alt="send message" /></span>
  </footer>
</section>
